.simplelist-wrapper {
  width: 400px;
  border: 1px solid #cccccc;

  .list-title {
    padding: 20px 15px;
  }

  .list-item {
    padding: 10px;
    border-top: 1px solid #cccccc;
    display: flex;
    align-items: center;
    cursor: pointer;

    .list-icon {
      margin-right: 10px;
      img {
        width: 25px;
      }
    }
    .title-line {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}
